*.log

Server/Center/logs/
Server/Fight/logs/
inetpub/wwwroot/Request/logs/
inetpub/logs/
inetpub/temp/
inetpub/wwwroot/gunny/attachfile/
Server/Road/logs/
Server/Road/GameServerScripts.pdb
Server/Road/GameServerScripts.dll
